.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.github/**
.cache/**
example/**

# node_modulesを除外するとなでしこのプラグインを実行時に取得できなくなる。
