* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, .container, .left, .right {
    height: 100%;
}

.container {
    width: 100%;
}

.left {
    float: left;
    width: 40%;
    min-width: 20%;
    max-width: 80%;
    height: 100%;
    border-right: double 5px rgb(187, 187, 187);
    overflow-x: hidden;
    overflow-y: auto;
}

.right {
    width: auto;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.message_container {
    border-bottom: rgb(184, 184, 184) solid 1px;
    padding: 5px;
    width: 100%;
    display: block;
    height: 20%;
    overflow: scroll;
    margin: 0;
    font-size: 1.4em;
}

.message_container code {
    color: #ac2626;
}

.output_container {
    border-bottom: rgb(184, 184, 184) solid 1px;
    padding: 5px;
    width: 100%;
    display: block;
    height: 70%;
    overflow: scroll;
    margin: 0;
    font-size: 1.4em;
}

.output_container code {
    color: rgb(7, 11, 26);
}

#nako3_canvas_1 {
    border: rgb(184, 184, 184) solid 1px;
}

.container hr {
    border-top: 1px solid rgb(184, 184, 184);
    border-bottom: 0;
    margin-bottom: 10px;
}

.container code {
    margin-left: 10px;
    display: block;
}

span.tag {
    margin-left: 10px;
    font-weight: 600;
}

.clear-button {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: right;
    /* margin-right: 1em; */
    padding: 0 8px;
    border-radius: 0px 4px 4px 0px;
}

.clear-button:hover {
    background: rgba(0, 0, 0, 0.103);
}

.clear-button:active {
    background: rgba(0, 0, 0, 0.226);
}

.tooltip-parent {
    position: relative;
}

.tooltip {
    display: none;
}

.tooltip-parent:hover .tooltip {
    display: block;
    position: absolute;
    right: 100%;
    top: 0;
    width: max-content;
    background: rgba(0, 0, 0, 0.103);
    border-radius: 4px 0px 0px 4px;
    color: rgba(0, 0, 0, 0.575);
    padding: 0px 0 0px 0.5em;
}

.tooltip-parent:active .tooltip {
    background: rgba(0, 0, 0, 0.226);
}
